.contact-ctr {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #1b2433;
  padding-top: 2vw;
}

.contact-left-ctr {
  width: 50%;
  float: left;
  height: 14vw;
  text-align: left;
  background-color: #1b2433;
  padding-left: 12vw;
}

.contact-right-ctr {
  width: 50%;
  float: right;
  height: 14vw;
  text-align: right;
  background-color: #1b2433;
  padding-right: 12vw
}

.contact-left-info, .contact-right-info {
  font-family: 'Montserrat', sans-serif;
  line-height: 27.2px;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
}

.contact-left-highlights {
  font-weight:bolder;
}

.circle-logo, .tmu-logo {
  padding: 0;
  margin: 0;
  height: 5vw;
  width: auto;
}

.contact-left-info-ctr, .contact-right-info-ctr {
  padding-top: 1vw;
}

.contact-icons {
  padding-top: 1vw;
}

.instagram, .twitter, .website {
  float: left;
  height: 1.5vw;
  padding-right: 1vw;
}

.contact-footer-ctr {
  width: 100%;
  padding-left: 12vw;
  background-color: #1b2433;
}

.copyright-mark {
  font-family: 'Montserrat', sans-serif;
  line-height: 27.2px;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 1500px) {
  .contact-left-ctr, .contact-right-ctr {
    height: 20vw;
  }

  .contact-left-info, .contact-right-info, .copyright-mark {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1200px) {
  .contact-left-ctr, .contact-footer-ctr {
    padding-left: 2vw;
  }

  .contact-right-ctr {
    padding-right: 2vw;
  }

  .contact-left-ctr, .contact-right-ctr {
    height: 30vw;
  }

  .contact-left-info, .contact-right-info, .copyright-mark {
    font-size: 1.5vw;
    letter-spacing: 1px;
  }

  .instagram, .twitter, .website {
    height: 3vw;
  }
}

@media screen and (max-width: 1000px) {
  .contact-left-ctr, .contact-footer-ctr {
    padding-left: 1vw;
  }

  .contact-right-ctr {
    padding-right: 1vw;
  }

  .contact-left-info, .contact-right-info, .copyright-mark {
    font-size: 1.5vw;
    letter-spacing: 1px;
  }

  .instagram, .twitter, .website {
    height: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .contact-left-ctr, .contact-right-ctr {
    padding-left: 0;
  }

  .contact-right-ctr {
    padding-right: 0;
  }

  .contact-left-ctr, .contact-right-ctr {
    height: 40vw;
  }

  .contact-left-info, .contact-right-info, .copyright-mark {
    font-size: 2vw;
    letter-spacing: 0;
    line-height: 20px;
  }

  .instagram, .twitter, .website {
    height: 7vw;
  }

  .circle-logo, .tmu-logo {
    height: 8vw;
  }
}
